{% extends 'base.html.twig' %}

{% block title %}Médiathèque Les Futaies{% endblock %}

{% block body %}

  <div class="container">
    <div class="row align-items-center mb-5">
        <div class="col-9 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="card-title">Présentation</h4>
                    <p>
                      <center><img src = 'https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/medias/2017/01/media_153276/la-bibliotheque-alexis-de-tocqueville-a-caen-la-mer%2CM415257.png?itok=aPJ_Wypj' width="60%" />
                    </p>
                    <p class="card-text">
                      Bienvenue sur le site de la médiathèque ! Le catalogue en ligne de la médiathèque vous permet de consulter des oeuvres (peintures, sculptures, etc...). Ce catalogue vous offre aussi la possibilité d'acquérir une oeuvre, de suivre l'état de vos réservations et également de consulter et de gérer votre compte personnel.
                    </p><center>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center mb-5">
        <div class="col-9 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="card-title">Horaires</h4>
                    <p>
                      <center><img src = 'https://cdn-icons-png.flaticon.com/512/92/92388.png' width="40%" />
                    </p>
                    <p class="card-text">
                    Mardi : 10h - 18h30<br>
                    Mercredi : 10h - 18h30<br>
                    Jeudi : 10h - 18h30<br>
                    Vendredi : 10h - 18h30<br>
                    Samedi : 10h - 18h30<br>
                    Dimanche : 15h - 18h30
                    </p></center>
                </div>
            </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row align-items-center mb-5">
        <div class="col-9 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="card-title">Informations</h4>
                    <p>
                      <center><img src = 'https://bciprod.azureedge.net/media/17481/caen_public_library_fr_001.jpg?mode=pad&width=1150&height=760&bgcolor=ffffff&format=jpg&quality=85' width="60%" />
                    </p>
                    <p class="card-text">
                    Nom de la médiathèque : Les Futaies<br>
                    Adresse : 15 Quai François Mitterrand, 14000 Caen<br>
                    Mail : contact@lesfutaies.fr<br>
                    Téléphone : 02 31 30 47 00<br>
                    Fax : 02 31 46 46 46
                    </p></center>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
