{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle oeuvre{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle oeuvre</h1>

    {{ include('oeuvres/_form.html.twig') }}

    <a href="{{ path('oeuvres_index') }}">Annuler</a>
{% endblock %}
