{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel artiste{% endblock %}

{% block body %}
    <h1>Création d'un nouvel artiste</h1>

    {{ include('artistes/_form.html.twig') }}

    <a href="{{ path('artistes_index') }}">Annuler</a>
{% endblock %}
